[submodule "submodules/XmlParser"]
	path = submodules/XmlParser
	url = https://github.com/wieslawsoltes/XmlParser.git
[submodule "submodules/XamlX"]
	path = submodules/XamlX
	url = https://github.com/kekekeks/XamlX.git
[submodule "submodules/VibeOffice"]
	path = submodules/VibeOffice
	url = https://github.com/wieslawsoltes/VibeOffice.git
